<!DOCTYPE html>
<html lang="en">
<head>
  <title>Catalog</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i' rel='stylesheet'>

  <!-- Css -->
<!--  <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" /> -->
  <link rel="stylesheet" type="text/css" href="~/Content/footerstyle.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/font-icons.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/styleshop.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/color.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
  <link rel="stylesheet" type="text/css" href="~/Content/simple-line-icons.css" media="all">
  <link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="~/Content/owl.theme.css">
  <link rel="stylesheet" type="text/css" href="~/Content/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-menu.css">
  <link rel="stylesheet" type="text/css" href="~/Content/revslider.css" >

  <script src="~/Scripts/jquery-3.3.1.js"></script>
  <script>
    $(document).ready(function()
	{

    	var cata="@ViewBag.cata";
    	var userid="@ViewBag.ID";
      //CatalogController ItemListForCata()
		var cata_urlstr = "../Catalog/ItemListForCata?cata=" + cata;
		$("#select option[value='" + cata + "']").attr("selected", true);
      //返回商品列表 string
      $.get(cata_urlstr,function(itemstr)
      {
        var itemList=itemstr.split(" "); // get itemstr error
        for(var i=1;i<=12;i++){
          //ShopController ItenInfo(string id)
            var item_urlstr = "../Shop/ItemInfo?itemid=" + itemList[i] + "&itemnum=" + i;
          //返回商品信息 json
          $.get(item_urlstr,function(itemjson)
          {
            //解析json
            var itemObj=eval(itemjson);

			//参数ItemPic返回商品id，通过商品id构建路径
			var userid="@ViewBag.ID";
            var id=itemObj.ItemID;
            var info=itemObj.ItemInfo;
            var name=itemObj.ItemName;
            var pic=itemObj.ItemPic;
            var price=itemObj.ItemPrice;
            var shopid = itemObj.ShopID;
            var num = itemObj.ItemNum;
            
            //替换信息
            //通过pic构建图片路径
            $("#item" + num+"p").attr("src","../Images/img/images/"+pic+".jpg");	//图片 picture
            $("#item" + num+"p").attr("alt",name);  //图片无法显示时的文字 picture.alt
            $("#item" + num+"t").text(name);        //名称 title
			  $("#item" + num + "pl").attr("href", "../Item/Index?id=" + id +"&user_id="+userid); //图片上的链接 picture link
			  $("#item" + num + "t").attr("href", "../Item/Index?id=" + id +"&user_id="+userid);  //文本上的链接 title.link
            $("#item" + num+"b").attr("href","../Order/Index1?user_id="+userid+"&item_id="+id); //Buy Now的链接 buy
            $("#item" + num+"pr").text("$"+price);
          });
		}
		});
		$("select").bind("change", function () {
			var catanum = $(this).val();
			var url = "../Catalog/Index?id=" + userid + "&cata=";
			$(window).attr("location", url + catanum );
		});
    });
  </script>
</head>

<body>
 
  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>
  

<div style="padding:0;margin:0;border:0;"> 
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row"> 
            <!-- Header Language -->
            <div class="col-xs-7 col-sm-6">
              <div class="dropdown block-language-wrapper hidden-xs"><a class="block-language dropdown-toggle" href="../Homepage/Index?id=@ViewBag.ID">  Home Page </a>
              </div>
              <!-- End Header Language --> 
              
              <!-- Header Currency -->
              <div class="dropdown block-currency-wrapper hidden-xs"> <a data-target="#" class="block-currency dropdown-toggle" href="../Login/Index"> Exit </a>
              </div>
              <!-- End Header Currency -->
              
              <div class="welcome-msg hidden-xs"> Welcome to Vibranium! </div>
            </div>
            <div class="col-xs-5 col-sm-6"> 
              <div class="top-cart-contain pull-right"> 
                <!-- Top Cart -->
                <div class="mini-cart">
                	<!-- CART INDEX -->
                  <div class="basket dropdown-toggle"><a href="../Cart/Index?id=@ViewBag.ID"> My Cart </a></div>
                    
                  </div>
                  <!-- Top Cart -->
                  
                </div>                  
                 <!-- Header Top Links -->
                <div class="toplinks">
                  <div class="links">    
                    <!-- SWITCH TO MY ACCOUNT DETAILS. -->         
                    <!-- PERSONALINFO INDEX --> 
                    <div class="myaccount"><a title="My Account" href="../Personalinfo/Index?id=@ViewBag.ID"><span class="hidden-xs">My Account</span></a></div>
                  </div>           
                </div>
                <!-- End Header Top Links -->      
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!-- end header --> 

  <main class="main oh" id="main" style="margin:0;padding:0;border:0">
    <!-- Navigation -->
    <header class="nav" style="position:relative;color:white; top:-64px;">

    </header> 
    <!-- end navigation -->

    <!-- Catalog -->
    <section class="section-wrap pt-60 pb-30 catalog" style="position: relative;top:-128px">
      <div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumbs">
          <li>
          	<!-- HOMEPAGE INDEX -->	
            <a href="../Homepage/Index?id=@ViewBag.ID">Home</a>
          </li>
          <li>
            <a href="#">Search results</a>
          </li>
        </ol>
			<div>
			<br/><br/>
			</div>
        <div class="row">
          <div class="col-lg-9 order-lg-2 mb-40">

            <!-- Filter -->          
            <div class="shop-filter">
              <p class="woocommerce-result-count">
                
              </p>
              <span class="woocommerce-ordering-label">Sort by</span>
              <form class="woocommerce-ordering">
                <select id="select">
                  <option value="1">Earring</option>
                  <option value="2">Necklace</option>
                  <option value="3">Ring</option>
                  <option value="4">Wristband</option>
                </select>
              </form>
            </div>

            <div class="row row-8">
            	<!-- ITEM 01 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item1pl" href="" class="product__link">
                    <img id="item1p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item1t" href="">Joeby Tailored Trouser</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item1pr" class="amount">$17.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 02 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item2pl" href="" class="product__link">
                    <img id="item2p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item2t" href="">Denim Hooded</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item2pr" class="amount">$30.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 03 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item3pl" href="" class="product__link">
                    <img id="item3p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item3t" href="">Mint Maxi Dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item3pr" class="amount">$17.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 04 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item4pl" href="" class="product__link">
                    <img id="item4p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item4t" href="">White Flounce Dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item4pr" class="amount">$15.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->  

              
              <div class="w-100"></div>

              <!-- ITEM 05 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item5pl" href="" class="product__link">
                    <img id="item5p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item5t" href="">Maxi dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item5pr" class="amount">$19.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 06 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item6pl" href="" class="product__link">
                    <img id="item6p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item6t" href="">Casual Jacket</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item6pr" class="amount">$17.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 07 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item7pl" href="" class="product__link">
                    <img id="item7p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item7t" href="">Bounce Elegant Dress</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item7pr" class="amount">$15.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 08 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item8pl" href="" class="product__link">
                    <img id="item8p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item8t" href="">Classic White Tailored Shirt</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item8pr" class="amount">$19.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <div class="w-100"></div>

              <!-- ITEM 09 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item9pl" href="" class="product__link">
                    <img id="item9p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item9t" href="">Men’s Belt</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item9pr" class="amount">$9.90</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 10 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item10pl" href="" class="product__link">
                    <img id="item10p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item10t" href="">Sport Hi Adidas</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item10pr" class="amount">$29.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 11 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item11pl" href="" class="product__link">
                    <img id="item11p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item11t" href="">Floral Mini Strappy</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item11pr" class="amount">$15.99</span>
                  </ins>
                </span>
              </div> <!-- end product -->

              <!-- ITEM 12 -->
              <div class="col-md col-sm-6 product">
                <div class="product__img-holder">
                  <a id="item12pl" href="" class="product__link">
                    <img id="item12p" src="" alt="" class="product__img">
                  </a>
                </div>

                <div class="product__details">
                  <h3 class="product__title">
                    <a id="item12t" href="">Hooded Jacket</a>
                  </h3>
                </div>

                <span class="product__price">
                  <ins>
                    <span id="item12pr" class="amount">$34.00</span>
                  </ins>
                </span>
              </div> <!-- end product -->
            
            </div> <!-- end row -->
            
            <!-- Pagination -->
            <!-- PAGES -->
            <div style="display:none" class="pagination clearfix" style="position: relative;left: 576px">                
              <nav class="pagination__nav right clearfix">
                <a href="" class="pagination__page"><i class="ui-arrow-left"></i></a>
                <span class="pagination__page pagination__page--current">1</span>
                <a href="" class="pagination__page">2</a>
                <a href="" class="pagination__page">3</a>
                <a href="" class="pagination__page">4</a>
                <a href="" class="pagination__page"><i class="ui-arrow-right"></i></a>
              </nav>
            </div>

          </div> <!-- end col -->


          <!-- Sidebar -->
          <aside style="display:none" class="col-lg-3 sidebar left-sidebar">
            <!-- Size -->
            <div class="widget widget__filter-by-size widget--bottom-line">
              <h4 class="widget-title">Size</h4>
              <ul class="size-select">
                <li>
                  <input type="checkbox" class="checkbox" id="small-size" name="small-size">
                  <label for="small-size" class="checkbox-label">X-Small</label>
                </li>                
                <li>
                  <input type="checkbox" class="checkbox" id="medium-size" name="medium-size">
                  <label for="medium-size" class="checkbox-label">Small</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="large-size" name="large-size">
                  <label for="large-size" class="checkbox-label">Meduim</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="xlarge-size" name="xlarge-size">
                  <label for="xlarge-size" class="checkbox-label">Large</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="xxlarge-size" name="xxlarge-size">
                  <label for="xxlarge-size" class="checkbox-label">X-Large</label>
                </li>
              </ul>
            </div>

            <!-- Color -->
            <div class="widget widget__filter-by-color widget--bottom-line">
              <h4 class="widget-title">Color</h4>
              <ul class="color-select">
                <li>
                  <input type="checkbox" class="checkbox" id="green-color" name="green-color">
                  <label for="green-color" class="checkbox-label">Green</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="red-color" name="red-color">
                  <label for="red-color" class="checkbox-label">Red</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="blue-color" name="blue-color">
                  <label for="blue-color" class="checkbox-label">Blue</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="white-color" name="white-color">
                  <label for="white-color" class="checkbox-label">White</label>
                </li>
                <li>
                  <input type="checkbox" class="checkbox" id="black-color" name="black-color">
                  <label for="black-color" class="checkbox-label">Black</label>
                </li>
              </ul>
            </div>

            <!-- Filter by Price -->
            <div class="widget widget__filter-by-price widget--bottom-line">
              <h4 class="widget-title">Filter by Price</h4>
               
              <div id="slider-range"></div>
              <p>
                <label for="amount">Price:</label>
                <input type="text" id="amount">
                <a href="#" class="btn btn-sm btn-dark"><span>Filter</span></a>
              </p>
            </div>
          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end catalog -->

<!-- Footer -->
    <footer style="position: relative; top: -200px;margin-bottom:0;padding-bottom:0;border-bottom:0;">
      <div class="footer-inner">
        <div class="container">
          <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="../Images/images/logo.png"></div>
          <address>
            <!-- CHANGE THE ADDRESS AND CONTACT INFORMATION!!! -->
            <i class="fa fa-map-marker"></i> Vibranium <i class="fa fa-mobile"></i><span> +(86) 123-4567810 </span> <i class="fa fa-envelope"></i><span> Tongji University </span>
          </address>
        </div>
      </div>
    
      <!-- COPYRIGHT -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-xs-12 coppyright">Copyright &copy; 2018. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer --> 

    

  </main> <!-- end main-wrapper -->
</div>

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
  <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/Scripts/easing.min.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="~/Scripts/price-slider.js"></script>
  <script type="text/javascript" src="~/Scripts/owl-carousel.min.js"></script>  
  <script type="text/javascript" src="~/Scripts/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="~/Scripts/modernizr.min.js"></script>
  <script type="text/javascript" src="~/Scripts/scripts.js"></script>

</body>
</html>
