
MvcMovie/MvcMovie/bin/roslyn/VBCSCompiler.exe
MvcMovie/MvcMovie/bin/roslyn/System.ValueTuple.dll
MvcMovie/MvcMovie/bin/roslyn/System.Security.Cryptography.Primitives.dll
MvcMovie/MvcMovie/bin/roslyn/System.Reflection.Metadata.dll
MvcMovie/MvcMovie/bin/roslyn/System.IO.FileSystem.Primitives.dll
MvcMovie/MvcMovie/bin/roslyn/System.IO.FileSystem.dll
MvcMovie/MvcMovie/bin/roslyn/System.IO.Compression.dll
MvcMovie/MvcMovie/bin/roslyn/System.Collections.Immutable.dll
MvcMovie/MvcMovie/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
MvcMovie/MvcMovie/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
MvcMovie/MvcMovie/bin/roslyn/Microsoft.CodeAnalysis.dll
MvcMovie/MvcMovie/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
