
MvcMovie/.vs/config/applicationhost.config
MvcMovie/.vs/MvcMovie/v15/.suo
MvcMovie/.vs/MvcMovie/v15/Server/sqlite3/storage.ide-shm
MvcMovie/.vs/MvcMovie/v15/Server/sqlite3/storage.ide-wal
MvcMovie/MvcMovie/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MvcMovie/MvcMovie/obj/Debug/MvcMovie.csproj.CoreCompileInputs.cache
MvcMovie/MvcMovie/obj/Debug/MvcMovie.csprojAssemblyReference.cache
