<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicons Icon -->
    <title>My Cart</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/simple-line-icons.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/revslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style_account.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/base.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/cart.css">
    <script type="text/javascript" src="~/Scripts/address_all.js"></script>
    <script src=" ~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/checkOut.css" />
</head>

<body>
	<header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row"> 
           
            <div class="col-xs-7 col-sm-6">
              <div class="dropdown block-language-wrapper hidden-xs"><a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="../Images/images/english.png" alt="language"> English <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="../Images/images/english.png" alt="language"> English </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="../Images/images/francais.png" alt="language"> French </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="../Images/images/german.png" alt="language"> German </a></li>
                </ul>
              </div>
           
             
              <div class="dropdown block-currency-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
                </ul>
              </div>
              
              
              <div class="welcome-msg hidden-xs"> Welcome to Vibranium! </div>
            </div>
            <div class="col-xs-5 col-sm-6"> 
              <div class="top-cart-contain pull-right"> 
               
                <div class="mini-cart">
                  <div class="basket dropdown-toggle"><a href="#">  My Cart </a></div>
          
                  </div>
                 
                  <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input class="effect_to_cart" value="1" type="hidden">
                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                  </div>
                </div>
          
                <div class="top-search">
                  <div class="block-icon pull-right"> <a data-target=".bs-example-modal-lg" data-toggle="modal" class="search-focus dropdown-toggle links"> <i class="fa fa-search"></i> </a>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><img src="images/interstitial-close.png" alt="close"> </button>
                          </div>
                          <div class="modal-body">
                            <form class="navbar-form">
                              <div id="search">
                                <div class="input-group">
                                  <input name="search" placeholder="Search" class="form-control" type="text">
                                  <button type="button" class="btn-search"><i class="fa fa-search"></i></button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                 
                
                <div class="toplinks">
                  <div class="links">              
                    <div class="myaccount"><a title="My Account" href="#"><span class="hidden-xs">My Account</span></a></div>
                
                 

                  </div>           
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


<!-- 购物车 -->
 <div class="table_info">
     <form action="#" method="post" id="basket">
      <div class="cart-info">
        <table class="cart1">
        	<caption style="font-size: 25px;margin-top: auto;">Shopping Cart</caption>
          <thead>
            <tr>
              <td class="remove">Remove</td>
              <td class="image">Image</td>
              <td class="name">Product Name</td>
              <td class="model">Model</td>
              <td class="quantity">Quantity</td>
              <td class="price">Unit Price</td>
              <td class="total">Total</td>
            </tr>
          </thead>
          <tbody>
                        <tr>
              <td class="remove"><input type="checkbox" name="remove[]" value="41" /></td>
              <td class="image"><a href="#"><img src="../Images/images/mac.jpg" alt="iMac" title="iMac" style="height: 80px;
	width: 80px;"  /></a>
                </td>
              <td class="name"><a href="#">iMac</a>
              <div>
              </div>
                </td>
              <td class="model">Product 14</td>
              <td class="quantity"><input type="text" name="quantity[41]" value="2" size="3" /></td>
              <td class="price">$100.00</td>
              <td class="total">$200.00</td>
            </tr>
                        <tr>
              <td class="remove"><input type="checkbox" name="remove[]" value="40" /></td>
              <td class="image"><a href="#"><img src="../Images/images/iPhone.jpg" alt="iPhone" title="iPhone" style="height: 80px;
	width: 80px;" /></a>
                </td>
              <td class="name"><a href="#">iPhoneX</a>
              <div>
              </div>
                </td>
              <td class="model">product 11</td>
              <td class="quantity"><input type="text" name="quantity[40]" value="1" size="3" /></td>
              <td class="price">$101.00</td>
              <td class="total">$101.00</td>
            </tr>
                        <tr>
              <td class="remove"><input type="checkbox" name="remove[]" value="36" /></td>
              <td class="image"><a href="#"><img src="../Images/images/ipod.jpg" alt="iPod Nano" title="iPod Nano" style="height: 80px;
	width: 80px;"  /></a>
                </td>
              <td class="name"><a href="#">iPod Nano</a>
              <div>
              </div>
                </td>
              <td class="model">Product 9</td>
              <td class="quantity"><input type="text" name="quantity[36]" value="1" size="3" /></td>
              <td class="price">$100.00</td>
              <td class="total">$100.00</td>
            </tr>
                                  </tbody>

        </table>
      </div>
    </form>

    <div class="buttons">
      <div class="right"><a href="#"  class="button"><span>GetBack</span></a></div> <!-- url wait to complete -->
      <div class="center"><button id="pay" class="button" style="width:300px;"><span>Pay</span></button></div>
        <script>
            document.querySelector('#pay').addEventListener('click', function () {
                //console.log("@ViewBag.customerID");
                $.get('../Cart/ToOrder?user_id=' + "@ViewBag.customerID", function (data) {
                    console.log(data["Shopnumber_of_Ordernumber"]);
                    console.log(data["OrderString"]);

                    for (let i = 0; i < data["OrderString"].split(' ').length; ++i) {
                        window.open('../Order/Index2?user_id=' + "@ViewBag.customerID" + "&shop_id=" + data["OrderString"].split(' ')[i].split('&')[0]);
                        console.log(data["OrderString"].split(' ')[i].split('&')[0]);
                    }
                })
            });
        </script>
    </div>

    </div>


    <!-- 底部导航栏 -->
    <footer style="z-index: -1">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-lg-8">	
            <div class="footer-column pull-left">
              <h4>CUSTOMMER SERVICE</h4>
              <ul class="links">
                <li class="first"><a href="#" title="Contact us">My Account</a></li>
                <li><a href="#" title="About us">Order History</a></li>
                <li><a href="#" title="faq">FAQ</a></li>
                <li><a href="#" title="Popular Searches">Specials</a></li>
                <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
              </ul>
            </div>
            <div class="footer-column pull-left">
              <h4>Corporation</h4>
              <ul class="links">
                <li class="first"><a title="Your Account" href="#">About us</a></li>
                <li><a title="Information" href="#">Customer Service</a></li>
                <li><a title="Addresses" href="#">Company</a></li>
                <li><a title="Addresses" href="#">Investor Relations</a></li>
                <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>             
              </ul>
            </div>
            <div class="footer-column pull-left">
              <h4>Why choose Us</h4>
              <ul class="links">
                <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                <li><a href="#" title="Blog">Blog</a></li>
                <li><a href="#" title="Company">Company</a></li>
                <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                <li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-lg-4">
            <div class="footer-column-last">
              <div class="newsletter-wrap">
                <h4>Sign up for emails</h4>
                <form id="newsletter-validate-detail" method="post" action="#">
                  <div id="container_form_news">
                    <div id="container_form_news2">
                      <input type="text" class="input-text required-entry validate-email" value="Enter your email address" onFocus=" this.value='' " title="Sign up for our newsletter" id="newsletter" name="email">
                      <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <br>
              <div class="social">
                <h4>Follow Us</h4>
                <ul class="link">
                  <li class="fb pull-left"><a href="#"></a></li>
                  <li class="tw pull-left"><a href="#"></a></li>
                  <li class="googleplus pull-left"><a href="#"></a></li>
                  <li class="rss pull-left"><a href="#"></a></li>
                  <li class="pintrest pull-left"><a href="#"></a></li>
                  <li class="linkedin pull-left"><a href="#"></a></li>
                  <li class="youtube pull-left"><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="../Images/images/logo.png"></div>
        <address>
          <i class="fa fa-map-marker"></i>DB Design Project <i class="fa fa-mobile"></i><span> +(888) 123-4567</span> <i class="fa fa-envelope"></i><span> Tongji University </span>
        </address>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 coppyright">Copyright &copy; 2018. All rights reserved.</div>
          
        </div>
      </div>
    </div>
  </footer>

</body>