#table-Signup{
	filter:alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
	width: 800px;
	height: 1000px;
	margin: auto;
	background-color: black;
	background: black url(../Images/logo/pagelogo.png) top center repeat;
}

#signup-cell{
	font-size: 30px;
	font-family: "Times";
	width: 100px;
	vertical-align: "left";
}