<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicons Icon -->
    <title>Seller Account</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all">
    <link rel="stylesheet" href="~/Content/ms-style.min.css" />
    <link rel="stylesheet" href="~/Content/personal_member.min.css" />
    <link rel="stylesheet" href="~/Content/sui.css" />
    <script type="text/javascript" src="~/Scripts/address_all.js"></script>
    <script type="text/javascript" src="~/Scripts/sui.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/finishOut.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/seller_account.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/account_table.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function ()
        {
            var saler_id = "@ViewBag.ID";
            //代码里面因为后端controller里面有些地方需要改，所以前端代码有的地方需要根据相应的注释来改
            
            /*---------------------加载店铺---------------------*/
            //卖家的店铺string
            var shopidstring = "@ViewBag.shopidstring";
            //卖家的店铺list
            var shoplist = shopidstring.split(" ");
            for (var i = 1; i <= Math.min(3, shoplist.length - 1); i++) {
                var shop_url = "/Shop/ShopInfo?shopid=" + shoplist[i] + "&i=" + i;

                $.get(shop_url, function (data) {
                    var shopObj = eval(data);
                    var ii = shopObj.i;
                    var shopname = shopObj.Name;
                    var shopid = shopObj.ID;
                    var salerid = shopObj.Saler;
                    var salercredit = shopObj.SalerCredit;
                    $("#shop" + ii + "outer").text(shopname);
                    $("#shop" + ii + "v").text("View");

                });
			}

            /*---------------------加载订单---------------------*/
            var order_url = "/Saler/Order?shopid1=" + shoplist[1] + "&shopid2=" + shoplist[2] + "&shopid3=" + shoplist[3];
            $.get(order_url, function (data) {
                //订单string
                var orderstr = data;
                //订单list
                var orderlist = orderstr.split(" ");
                console.log(orderlist);
                for (var i = 1; i <= Math.min(orderlist.length-1,3); i++) {
                    //获取订单信息
                    var orderinfo_url = "/Saler/Orderinfo?Orderid=" + orderlist[i]+"&i="+i;
                    $.get(orderinfo_url, function (data) {
                        //解析JSON
                        var orderinfo = eval(data);
                        console.log(data);
                        //需要额外的属性 Controller里JSON需要添加数据
                        var orderid = orderinfo.OrderId;
                        var ordertime = orderinfo.OrderTime;
                        var shopid = orderinfo.ShopId;
                        var orderphone = orderinfo.OrderPhone;
                        var orderaddress = orderinfo.OrderAddress;
                        var orderprice = orderinfo.OrderPrice;
                        var orderstatus = orderinfo.OrderStatus;
                        var ii = orderinfo.ii;
                        //显示的订单信息
                        $("#order" + ii + "id").text(orderid);
                        $("#order" + ii + "time").text(ordertime);
                        $("#order" + ii + "shop").text(shopid);
                        //修改订单弹出页面的信息 提前加载
                        $("#eprice" + ii).attr("value", orderprice);
                        $("#ephone" + ii).attr("value", orderphone);
                        $("#eaddress" + ii).attr("value", orderaddress);

                        //如果订单状态为已完成，不可使用Edit和Finish按钮
                        //我不知道订单状态回返回什么，我这里用的是finished，要根据实际数据修改
                        if (orderstatus == "finished") {
                            $("#editorder" + ii).attr("disabled", true);
                            $("#finish" + ii).attr("disabled", true);
                        }
                    })
                }
            });
            /*---------------------查看店铺---------------------*/
            $("button").click(function () {
                //获得当前点击的按钮id
                var id = $(this).attr("id");
                //获得内容 view为查看店铺 add为添加店铺
                var type = $(this).text();
                //获得id中的数字即店铺 1-3
                var num = $(this).attr("id").replace(/[^0-9]/ig,"");

				if (type == "View") {

					
                    var shopinfo_url = "/Shop/ShopInfo?shopid=" + shoplist[num]+"&i=1";
                    $.get(shopinfo_url, function (data) {
                        var shopObj = eval(data);
                        var shopname = shopObj.Name;
                        var shopid = shopObj.ID;
                        var salerid = shopObj.Saler;
                        var salercredit = shopObj.SalerCredit;

                        $("#shopn").text(shopname);
                        $("#salern").text(salerid);
                        $("#salercr").text(salercredit);
                    });
					
                    document.getElementById('view_shop2').style.display = 'block';
					document.getElementById('fade_view_shop2').style.display = 'block';
					/*---------------------delete shop---------------------*/
					$("#delete").click(function () {
						$.get("/Saler/DeleteShop?ID=" + shoplist[num], function (data) {
							if (data == "success") {
								alert("Success!");
								window.location.reload();
							}
							else alert("Failed,please double check and try again.");
						});
					});
                }
            });
            /*---------------------添加店铺---------------------*/
            $("button").click(function () {
                //获得当前点击的按钮id
                var id = $(this).attr("id");
                //获得内容 view为查看店铺 add为添加店铺
                var type = $(this).text();
                console.log(type);
                //获得id中的数字即店铺 1-3
                var num = $(this).attr("id").replace(/[^0-9]/ig, "");
                console.log(num);
                if (type == "Add") {
                    document.getElementById('add_shop').style.display = 'block';
                    document.getElementById('fade_add_shop').style.display = 'block';
                }
			})
			
            /*---------------------confirm new shop---------------------*/
            $("#confirmshop").click(function () { // select nothing
                var shopname = $("#nshopn").val();
                var addshop_url = "/Saler/CreateShop?ShopName=" + shopname + "&SalerCredit=0&SalerID=@ViewBag.SalerName";
                $.get(addshop_url, function (data) {
                    if (data == "failure") {
                        alert("Failed to Add a New Shop");
                    }
                    else {
                        alert("Success!");
                        window.location.reload();
                        //Controller里面好像是重定向了，那这里应该就不用做了吧我也不知道
                    }
                });
            });
            /*---------------------查看商品---------------------*/
            $("button").click(function () {
                //获得当前点击的按钮id
                var id = $(this).attr("id");
                //获得内容 Products则定向到商品页面
                var type = $(this).text();
                console.log(type);
                if (type == "Products") {
                    console.log("fuck");
                    var num = ($(this).attr("id")).replace(/[^0-9]/ig, "");
                    var shopid = shoplist[num];
					// redirect to ShopDetail  
					$(window).attr('location', "../Saler/ShopDetail?&shopid=" + shopid + "&ID=" + saler_id);
                }
            });
            /*---------------------编辑订单---------------------*/
            $("button").click(function () {
                //获得当前点击的按钮id
                var type = $(this).attr("id");
                //获得内容 econfirm则提交编辑订单 就是点击edit之后弹出窗口里面的那个Confirm
                type = type.substr(0, type.length-1);
                //获得id中的数字即订单编号 1-3
                var num = $(this).attr("id").replace(/[^0-9]/ig, "");
                if (type == "econfirm") {
                    
                    var price = $("#eprice" + num).val();
                    var phone = $("#ephone" + num).val();
                    var address = $("eaddress" + num).val();
                    $.get("/Saler/orderedit?price=" + price + "&phone=" + phone + "&address=" + address + "&orderid=" + $("#order" + num + "id").text(), function (data) {
                        console.log("getting back");
                        if (data == "success") {
                            alert("success!"); location.reload();
                        }
                        else {
                            alert("sry,failed");
                        }
                    });
                }
            });
            /*---------------------完成订单---------------------*/
            $("button").click(function () {
                //获得当前点击的按钮id
                var type = $(this).attr("id");
                //获得内容 finish则完成订单 修改状态
                type = type.substr(0, type.length - 1);
                //获得id中的数字即订单编号 1-3
                var num = $(this).attr("id").replace(/[^0-9]/ig, "");

                if (type == "finish") {
                    //获取订单id 可以用在之后向Controller传递数据
                    var orderid = $("#order" + num + "id").text();
                    $.get("../Saler/orderstatusedit?orderid=" + orderid + "&orderstatus=finished", function (data) {

                        if (data == "success") {
                            alert("success!");
                            $(this).attr("disabled", true);

                            $("#editorder" + num).attr("disabled", true);
                            location.reload();
                        }
                        else alert("failed");
                    });
                }
            });
            /*---------------------Log Out---------------------*/
            $("#logout").click(function () {
                //no matched function
                //one parameter : salerid
                var salerid = "@ViewBag.ID";
                console.log(salerid);
                $.get('DeleteSaler?id=' + salerid, function (data) {
                    console.log(data);
                    window.location.href = "/Login";
                })
            });

        });
    </script>
</head>

    <body>
	    <header>
        <div class="header-container">
          <div class="header-top">
            <div class="container">
              <div class="row"> 
           
                <div class="col-xs-7 col-sm-6">
                  <div class="dropdown block-language-wrapper hidden-xs"><a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> Home Page </a>
                  </div>
           
             
                  <div class="dropdown block-currency-wrapper hidden-xs"> <a class="block-currency dropdown-toggle" href="../Login/Index"> Exit </a>
                  </div>
              
              
                  <div class="welcome-msg hidden-xs"> Welcome to Vibranium! </div>
                </div>
                <div class="col-xs-5 col-sm-6"> 
                  <div class="top-cart-contain pull-right"> 
               
                    <div class="mini-cart">
                      <div  class="basket dropdown-toggle"><button id="logout" type="button" style="height:41px;background-color:gold">Log Out</button></div>
                      </div>
                 
                      <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                        <input value="" type="hidden">
                        <input id="enable_module" value="1" type="hidden">
                        <input class="effect_to_cart" value="1" type="hidden">
                        <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                      </div>
                    </div>
                           
                
                    <div class="toplinks">
                      <div class="links">              
                        <div class="myaccount"><a title="My Account" href="#"><span class="hidden-xs">@ViewBag.ID</span></a></div>
                
                 

                      </div>           
                    </div>
              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>


    <!-- PERSONAL ACCOUNT -->
    <section style="position:relative;">
          <div class="cont">
            <div class="cont-side">
              <div class="side-neck" style="margin-top: 20px;">
                <i></i>
              </div>
              <div class="ms-side" style="margin-top: 20px;">
                <article class="side-menu side-menu-off">
                    <dl class="side-menu-tree" style="padding-left: 50px;">
                        <dt><img src="../Images/images/mycart.png" style="margin-right: 10px;margin-left: -20px;" />My Account</dt>
                        <dt><img src="../Images/images/file.png" style="margin-right: 10px;margin-left: -20px;" />My Shops</dt>
                        <dd>
                            <!-- SWITCH TO ALL PRODUCTS -->
                            <a href="">Management</a> <!--卖家进行店铺的增加和删除 -->
                        </dd>
                        <dt><img src="../Images/images/myvibra.png" style="margin-right: 10px;margin-left: -20px;" />My Orders</dt>
                        <dd>
                            <a>Orders</a>
                        </dd>
                        <!--             <dd>
                       <a>History Orders</a>
                     </dd> -->
                        <dt><img src="../Images/images/v-card-3.png" style="margin-right: 10px;margin-left: -20px;" />Edit Info</dt>
                        <dd>
                            <a>Edit Info</a>
                        </dd>
                    </dl>

                  <a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
                </article>
              </div>
            </div>

            <div class="cont-main" style="margin-left: 20%">
              <div class="main-wrap mt15" style="border: 0px;">
                <div class="server-wrapper">
                  <div class="server-tab" style="margin-top: 26px;">
                    <div style=" float: left;vertical-align: bottom;text-align: center;">
                    <div style="width: 680px;padding: 10px;float: left;background-color: #fff;height: 250px;">
                    <div style="float: left;width:200px ;height: 152px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
                        <div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
                            <span id="shop1outer" style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin:auto;margin-top:20px;">New Shop</span>
                            <!--本按钮应调用数据库数据，目前暂时为静态且与shop2按钮相同-->
                            <button id="shop1v" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 20px;">Add</button>
                            <button id="shop1p" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 10px;">Products</button>
						 </div>
                    </div>
                
                    <div style="float: left;width:200px ;height: 152px;;margin-left: 20px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
						<div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
							<span id="shop2outer" style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin: auto;margin-top:20px;">New Shop</span>
							<button id="shop2v" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 20px;">Add</button>
							<button id="shop2p" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 10px;">Products</button>
							<!-- 点击view后跳出店铺信息 -->
							<div id="view_shop2" class="white_content"
								 style="width: 800px;margin-top: 20px;background-color: #fff;">

								<h1 style="align-content:center;margin-top: -10px;">ShopInformation</h1>
								<table class="dataintable" style="font-size: 12px;margin: auto;width: 600px;">
									<tr>
										<td style="font-size: 18px;"><b>ShopName</b></td>
										<td id="shopn" style="font-size: 18px;"><b>null</b></td>
									</tr>
									<tr>
										<td style="font-size: 18px;"><b>SalerID</b></td>
										<td id="salern" style="font-size: 18px;">null</td>
									</tr>
									<tr>
										<td style="font-size: 18px;"><b>SalerCredit</b></td>
										<td id="salercr" style="font-size: 18px;">null</td>
									</tr>
								</table>

								<!-- 关闭按钮 -->
								<button onclick="document.getElementById('view_shop2').style.display='none';
                                           document.getElementById('fade_view_shop2').style.display='none'"
										style="background-color: #42a4e0;
                                            border-radius: 5px;
                                            color: #fff;
                                            font-size:14px;
                                            border: 0px;
                                            width: 107px;
                                            height: 26px;
                                            top: 10px;
                                            position: relative;
                                            margin-bottom: 300px;">
									Close
								</button>
								<button id="delete" 
										style="background-color: #42a4e0;
                                            border-radius: 5px;
                                            color: #fff;
                                            font-size:14px;
                                            border: 0px;
                                            width: 107px;
                                            height: 26px;
                                            top: 10px;
                                            position: relative;
                                            margin-bottom: 300px;">
									Delete
								</button>
							</div>

							<!-- 背景变黑 -->
							<div id="fade_view_shop2" class="black_overlay"></div>

						</div>

                    </div>

                
                    <div style="float: left;width:200px ;height: 152px;margin-left: 20px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
						<div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
							<span id="shop3outer" style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin: auto;margin-top:20px;">New Shop</span>
							<button id="shop3v" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 20px;">Add</button>
							<button id="shop3p" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 10px;">Products</button>
							<div id="add_shop" class="white_content">
								<h1 style="align-content:center;margin-top: -10px;">Add Shop</h1>
								<table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
									<tr>
										<td style="font-size: 18px;"><b>ShopName</b></td>
										<td><input id="nshopn" type="text" name="editPrice" placeholder="Please enter shop name"></td>
									</tr>
								</table>

								<!-- cancel button -->
								<button onclick="document.getElementById('add_shop').style.display='none';
                                   document.getElementById('fade_add_shop').style.display='none'"
										style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
									cancel
								</button>

								<!-- confirm button -->
								<button id="confirmshop" onclick="document.getElementById('add_shop').style.display='none';
                                   document.getElementById('fade_add_shop').style.display='none'"
										style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
									comfirm
								</button>
							</div>

							<!-- 背景变黑 -->
							<div id="fade_add_shop" class="black_overlay"></div>
						</div>
                    </div>

                    </div>
                
                    <!--右侧---end------->
                
                     <div style="width: 800px;padding:10px;display: inline-block; float: left;margin-top: 20px;background-color: #fff;">
                            <div style="border-bottom: 1px #ccc solid;">
                                <p style="font-size: 20px;text-align: left;"><b>My Orders</b></p>
                            </div>
                            <table class="dataintable" style="font-size: 15px">
                          <tr>
                            <th>Order ID</th>
                            <th>Time</th>
                            <th>Shop ID</th>
                            <th>Options</th>
                          </tr>
                          <tr>
                            <td id="order1id"><b>0</b></td>
                            <td id="order1time">0-0-0 00:00:00</td>
                            <td id="order1shop">0</td>
                            <td>
                                <button id="editorder1" onclick="document.getElementById('edit_1').style.display='block';
                             document.getElementById('fade_1').style.display='block'"
                                        style="background-color: #42a4e0;
                              border-radius: 5px;
                              color: #fff;
                              font-size:14px;
                              border: 0px;
                              width: 107px;
                              height: 26px;">
                                    edit
                                </button>

                                <!-- 以下为点击edit后,卖家对order的操作 -->
                                <div id="edit_1" class="white_content">
                                    <h1 style="align-content:center;margin-top: -10px;">Manage this order</h1>
                                    <h2 style="align-content: center;">Order ID <b>0</b></h2>
                                    <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                        <tr>
                                            <th style="font-size: 18px;">Edit</th>
                                            <th style="font-size: 18px;">Former</th>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the price</b></td>
                                            <td><input id="eprice1" type="text" name="editPrice" placeholder="$800"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the Telephone</b></td>
                                            <td><input id="ephone1" type="text" name="editPhone" placeholder="8518-8456"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the Address</b></td>
                                            <td>
                                                <input id="eaddress1" type="text" name="editAdrs" placeholder="Tongji University"
                                                       style="height: 100px;">
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- cancel button -->
                                    <button onclick="document.getElementById('edit_1').style.display='none';
                                   document.getElementById('fade_1').style.display='none'"
                                            style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
                                        cancel
                                    </button>
                                    <!-- confirm button -->
                                    <button id="econfirm1" onclick="document.getElementById('edit_1').style.display='none';
                                   document.getElementById('fade_1').style.display='none'"
                                            style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
                                        comfirm
                                    </button>
                                </div>
                                <div id="fade_1" class="black_overlay"></div>
                                <button id="finish1" style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    Finish
                                </button>
                                <button id="view1" style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    View Details
                                </button>
                                <script>
                                    document.querySelector('#view1').addEventListener('click', function () {
                                        window.open('/Order/OrderDetail?OrderID=' + document.querySelector('#order1id').textContent);
                                    })
                                </script>
                            </td>
                          </tr>
                        
                          <tr>
                            <td id="order2id"><b>0</b></td>
                            <td id="order2time">0-0-0 00:00:00</td>
                            <td id="order2shop">0</td>
                            <td>
                                <button id="editorder2" onclick="document.getElementById('edit_2').style.display='block';
                                   document.getElementById('fade_2').style.display='block'"
                                        style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    edit
                                </button>
                                <!-- 以下为点击edit后,卖家对order的操作 -->
                                <div id="edit_2" class="white_content">
                                    <h1 style="align-content:center;margin-top: -10px;">Manage this order</h1>
                                    <h2 style="align-content: center;">Order ID <b>0</b></h2>
                                    <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                        <tr>
                                            <th style="font-size: 18px;">Edit</th>
                                            <th style="font-size: 18px;">Former</th>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the price</b></td>
                                            <td><input id="eprice2" type="text" name="editPrice" placeholder="$800"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the Telephone</b></td>
                                            <td><input id="ephone2" type="text" name="editPhone" placeholder="8518-8456"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the Address</b></td>
                                            <td>
                                                <input id="eaddress2" type="text" name="editAdrs" placeholder="Tongji University"
                                                       style="height: 100px;">
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- cancel button -->
                                    <button onclick="document.getElementById('edit_2').style.display='none';
                                   document.getElementById('fade_2').style.display='none'"
                                            style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
                                        cancel
                                    </button>
                                    <!-- confirm button -->
                                    <button id="econfirm2" onclick="document.getElementById('edit_2').style.display='none';
                                   document.getElementById('fade_2').style.display='none'"
                                            style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
                                        comfirm
                                    </button>
                                </div>
                                <div id="fade_2" class="black_overlay"></div>
                                <button id="finish2" style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    Finish
                                </button>
                                <button id="view2" style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    View Details
                                </button>
                                <script>
                                    document.querySelector('#view2').addEventListener('click', function () {
                                        if (document.querySelector('#order2id').textContent !== '0') {
                                            window.open('/Order/OrderDetail?OrderID=' + document.querySelector('#order2id').textContent);
                                        }
                                    })
                                </script>
                            </td>
                          </tr>

                        
                          <tr>
                            <td id="order3id"><b>0</b></td>
                            <td id="order3time">0-0-0 00:00:00</td>
                            <td id="order3shop">0</td>
                            <td>
                                <button id="editorder3" onclick="document.getElementById('edit_3').style.display='block';
                                   document.getElementById('fade_3').style.display='block'"
                                        style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    edit
                                </button>
                                <div id="edit_3" class="white_content">
                                    <!-- 以下为点击edit后,卖家对order的操作 -->
                                    <h1 style="align-content:center;margin-top: -10px;">Manage this order</h1>
                                    <h2 style="align-content: center;">Order ID <b>0</b></h2>
                                    <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                        <tr>
                                            <th>Edit</th>
                                            <th>Former</th>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the price</b></td>
                                            <td><input id="eprice3" type="text" name="editPrice" placeholder="$1000"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the Telephone</b></td>
                                            <td><input id="ephone3" type="text" name="editPhone" placeholder="8518-8456"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 18px;"><b>Edit the Address</b></td>
                                            <td>
                                                <input id="eaddress3" type="text" name="editAdrs" placeholder="Tongji University"
                                                       style="height: 100px;">
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- cancel button -->
                                    <button onclick="document.getElementById('edit_3').style.display='none';
                                   document.getElementById('fade_3').style.display='none'"
                                            style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
                                        cancel
                                    </button>
                                    <!-- confirm button -->
                                    <button id="econfirm3" onclick="document.getElementById('edit_3').style.display='none';
                                   document.getElementById('fade_3').style.display='none'"
                                            style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">
                                        comfirm
                                    </button>
                                </div>
                                <div id="fade_3" class="black_overlay"></div>
                                <button id="finish3" style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    Finish
                                </button>
                                <button id="view3" style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">
                                    View Details
                                </button>
                                <script>
                                    document.querySelector('#view3').addEventListener('click', function () {
                                        if (document.querySelector('#order3id').textContent !== '0') {
                                            window.open('/Order/OrderDetail?OrderID=' + document.querySelector('#order3id').textContent);
                                        }
                                    })
                                </script>
                                
                            </td>
                          </tr> 
                      </table>

                     </div>
            </div>
        
          </div>
        </div>
        </div>
      </section>
    <!-- END OF PERSONAL ACCOUNT -->





    <!-- FOOTER -->
         <footer style="margin-top: -50px;z-index: 9999;position: relative;top: 200px;">
        <div class="footer-inner">
          
          <div class="container">
            <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="../Images/images/logo.png"></div>
            <address>
              <i class="fa fa-map-marker"></i>Vibranium<i class="fa fa-mobile"></i><span> +(86) 123-4567-89</span> <i class="fa fa-envelope"></i><span> Tongji University </span>
            </address>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-xs-12 coppyright">Copyright &copy; 2018. All rights reserved.</div>
          
            </div>
          </div>
        </div>
      </footer>
  <!-- END OF FOOTER -->		
</body>
</html>