<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicons Icon -->
    <title>Seller Account</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all">
    <link rel="stylesheet" href="~/Content/ms-style.min.css" />
    <link rel="stylesheet" href="~/Content/personal_member.min.css" />
    <link rel="stylesheet" href="~/Content/sui.css" />
    <script type="text/javascript" src="~/Scripts/address_all.js"></script>
    <script type="text/javascript" src="~/Scripts/sui.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/finishOut.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/seller_account.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/account_table.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function () {
            var shoplist = ViewBag.shopidstring; // backspace to split, shopID store in it

            var urlstr = "/Saler/Order?shopid1=" ; // get order ID list
            $.get(urlstr, function (data) {
                
            }); // get order detail through order id list



        });
    </script>
</head>

    <body>
	    <header>
        <div class="header-container">
          <div class="header-top">
            <div class="container">
              <div class="row"> 
           
                <div class="col-xs-7 col-sm-6">
                  <div class="dropdown block-language-wrapper hidden-xs"><a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="images/english.png" alt="language"> English <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/english.png" alt="language"> English </a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/francais.png" alt="language"> French </a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/german.png" alt="language"> German </a></li>
                    </ul>
                  </div>
           
             
                  <div class="dropdown block-currency-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD </a>
                  </div>
              
              
                  <div class="welcome-msg hidden-xs"> Welcome to Tongji University! </div>
                </div>
                <div class="col-xs-5 col-sm-6"> 
                  <div class="top-cart-contain pull-right"> 
               
                    <div class="mini-cart">
                      <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a href="#">  My Cart <span class="cart_count">2</span></a></div>
                        <div>
                          <div class="top-cart-content" style="display: none;">
                            <div class="actions">
                              <button class="btn-finishout" title="finishout" type="button"><span>finishout</span></button>
                              <a href="#" class="view-cart" ><span>View Cart</span></a>
                            </div>
                      
                            <ul class="mini-products-list" id="cart-sidebar">
                              <li class="item first">
                                <div class="item-inner">
                                  <a class="product-image" title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" href="#l"><img alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" src="products-images/p4.jpg"></a>
                                  <div class="product-details">
                                    <div class="access">
                                      <a class="btn-remove1" title="Remove This Item" href="#">Remove</a>
                                      <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a>
                                    </div>
                               
                                    <strong>1</strong> x <span class="price">$179.99</span>
                                    <p class="product-name"><a href="#">timi &amp; leslie Sophia Diaper Bag...</a></p>
                                  </div>
                                </div>
                              </li>
                              <li class="item last">
                                <div class="item-inner">
                                  <a class="product-image" title="JP Lizzy Satchel Designer Diaper Bag - Slate Citron" href="#"><img alt="JP Lizzy Satchel Designer Diaper Bag - Slate Citron" src="products-images/p3.jpg"></a>
                                  <div class="product-details">
                                    <div class="access">
                                      <a class="btn-remove1" title="Remove This Item" href="#">Remove</a>
                                      <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a>
                                    </div>
                               
                                    <strong>1</strong> x <span class="price">$80.00</span>
                                    <p class="product-name"><a href="#">JP Lizzy Satchel Designer Diaper Ba...</a></p>
                                  </div>
                                </div>.
                              </li>
                            </ul>
                     
                          </div>
                        </div>
                      </div>
                 
                      <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                        <input value="" type="hidden">
                        <input id="enable_module" value="1" type="hidden">
                        <input class="effect_to_cart" value="1" type="hidden">
                        <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                      </div>
                    </div>
          
                    <div class="top-search">
                      <div class="block-icon pull-right"> <a data-target=".bs-example-modal-lg" data-toggle="modal" class="search-focus dropdown-toggle links"> <i class="fa fa-search"></i> </a>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><img src="images/interstitial-close.png" alt="close"> </button>
                              </div>
                              <div class="modal-body">
                                <form class="navbar-form">
                                  <div id="search">
                                    <div class="input-group">
                                      <input name="search" placeholder="Search" class="form-control" type="text">
                                      <button type="button" class="btn-search"><i class="fa fa-search"></i></button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                 
                
                    <div class="toplinks">
                      <div class="links">              
                        <div class="myaccount"><a title="My Account" href="#"><span class="hidden-xs">SELLER NAME</span></a></div>
                
                 

                      </div>           
                    </div>
              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>


    <!-- PERSONAL ACCOUNT -->
    <section style="position:relative;">
          <div class="cont">
            <div class="cont-side">
              <div class="side-neck" style="margin-top: 20px;">
                <i></i>
              </div>
              <div class="ms-side" style="margin-top: 20px;">
                <article class="side-menu side-menu-off">
                  <dl class="side-menu-tree" style="padding-left: 50px;">
                    <dt><img src="images/mycart.png"  style="margin-right: 10px;margin-left: -20px;"/>My Account</dt>
                    <dt><img src="images/file.png"  style="margin-right: 10px;margin-left: -20px;"/>My Shops</dt>
                    <dd>
                      <a>My Shops</a>
                    </dd>
                    <dd>
                      <a>Shop Management</a> <!--卖家进行店铺的增加和删除 -->
                    </dd>
                
                    <dt><img src="images/myvibra.png"  style="margin-right: 10px;margin-left: -20px;"/>My Orders</dt>
                    <dd>
                      <a>Orders</a> <!--卖家查看当前未完成订单 -->
                    </dd>
                    <dd>
                      <a>History Orders</a> <!--卖家查看历史订单 -->
                    </dd>
                    <dt><img src="images/v-card-3.png"  style="margin-right: 10px;margin-left: -20px;"/>Edit Info</dt>
                    <dd>
                      <a>Edit Info</a>
                    </dd>
                  </dl>

                  <a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
                </article>
              </div>
            </div>

            <div class="cont-main" style="margin-left: 20%">
              <div class="main-wrap mt15" style="border: 0px;">
                <div class="server-wrapper">
                  <div class="server-tab" style="margin-top: 26px;">
                    <div style=" float: left;vertical-align: bottom;text-align: center;">
                    <div style="width: 680px;padding: 10px;float: left;background-color: #fff;height: 250px;">
                    <div style="float: left;width:200px ;height: 152px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
                      <div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
                        <span style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin:auto;margin-top:20px;">shop3 name</span>

                           <!--本按钮应调用数据库数据，目前暂时为静态且与shop2按钮相同-->
                           <input  type="button" value="View" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 30px;" onclick="document.getElementById('view_shop2').style.display='block';document.getElementById('fade_view_shop2').style.display='block'"/>
                      </div>
                    </div>
                
                    <div style="float: left;width:200px ;height: 152px;;margin-left: 20px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
                      <div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
                        <span style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin: auto;margin-top:20px;">Shop2 name</span>
                         <input  type="button" value="View" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 30px;" onclick="document.getElementById('view_shop2').style.display='block';document.getElementById('fade_view_shop2').style.display='block'"/>

                               <!-- 点击view后跳出店铺信息 -->
                               <div id="view_shop2" class="white_content"
                               style="width: 800px;margin-top: 20px;background-color: #fff;">

                                  <h1 style="align-content:center;margin-top: -10px;">ShopInformation</h1>
                                  <table class="dataintable" style="font-size: 12px;margin: auto;width: 600px;">
                                     <tr>
                                      <td style="font-size: 18px;"><b>ShopName</b></td>
                                      <td style="font-size: 18px;"><b>Shop2</b></td>
                                     </tr>
                                     <tr>
                                      <td style="font-size: 18px;"><b>SalerID</b></td>
                                      <td style="font-size: 18px;">Lucas</td>
                                     </tr>
                                      <tr>
                                      <td style="font-size: 18px;"><b>SalerCredit</b></td>
                                      <td style="font-size: 18px;">100</td>
                                     </tr>
                                  </table>

                                  <!-- 关闭按钮 -->
                                  <button onclick="document.getElementById('view_shop2').style.display='none';
                                           document.getElementById('fade_view_shop2').style.display='none'"
                                           style="background-color: #42a4e0;
                                            border-radius: 5px;
                                            color: #fff; 
                                            font-size:14px;
                                            border: 0px;
                                            width: 107px;
                                            height: 26px;
                                            top: 10px;
                                            position: relative;
                                            margin-bottom: 300px;">Close</button>
                                </div>

                                <!-- 背景变黑 -->
                                <div id="fade_view_shop2" class="black_overlay"></div>
                    
                      </div>

                    </div>

                
                    <div style="float: left;width:200px ;height: 152px;;margin-left: 20px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
                      <div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
                        <span style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin: auto;margin-top:20px;">new Shop</span>
                         <input  type="button" value="Add" style="background-color: #f56a48;border-radius: 5px;color: #fff; font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 30px;" onclick="document.getElementById('add_shop').style.display='block'; document.getElementById('fade_add_shop').style.display='block'"/>

                              <!-- 新建店铺 ShopID由后端生成而非用户填写 -->
                              <div id="add_shop" class="white_content">
                                    <h1 style="align-content:center;margin-top: -10px;">Add Shop</h1>
                                    <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                       <tr>
                                        <td style="font-size: 18px;"><b>ShopName</b></td>
                                        <td><input type="" name="editPrice" placeholder="Please enter shop name"></td>
                                       </tr>
                                    </table>

                                    <!-- cancel button -->
                                    <button onclick="document.getElementById('add_shop').style.display='none';
                                   document.getElementById('fade_add_shop').style.display='none'"
                                   style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">cancel</button>
                                
                                    <!-- confirm button -->
                                      <button onclick="document.getElementById('add_shop').style.display='none';
                                   document.getElementById('fade_add_shop').style.display='none'"
                                   style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">comfirm</button>
                              </div>

                              <!-- 背景变黑 -->
                              <div id="fade_add_shop" class="black_overlay"></div>
                      </div>
                    </div>

                    </div>
                
                    <!--右侧---end------->
                
                     <div style="width: 800px;padding:10px;display: inline-block; float: left;margin-top: 20px;background-color: #fff;">
                            <div style="border-bottom: 1px #ccc solid;">
                                <p style="font-size: 20px;text-align: left;"><b>My Orders</b></p>
                            </div>
                            <table class="dataintable" style="font-size: 15px">
                          <tr>
                            <th>Order ID</th>
                            <th>Time</th>
                            <th>Shop ID</th>
                            <th>Options</th>
                          </tr>
                          <tr>
                            <td><b>98542257</b></td>
                            <td>2016-04-10 12:20:30</td>
                            <td>554564</td>
                            <td>
                               <button onclick="document.getElementById('edit_1').style.display='block';
                             document.getElementById('fade_1').style.display='block'"
                             style="background-color: #42a4e0;
                              border-radius: 5px;
                              color: #fff; 
                              font-size:14px;
                              border: 0px;
                              width: 107px;
                              height: 26px;">edit</button>

                              <!-- 以下为点击edit后,卖家对order的操作 -->
                              <div id="edit_1" class="white_content">
                                    <h1 style="align-content:center;margin-top: -10px;">Manage this order</h1>
                                    <h2 style="align-content: center;">Order ID <b>98542257</b></h2>
                                    <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                       <tr>
                                        <th style="font-size: 18px;">Edit</th>
                                        <th style="font-size: 18px;">Former</th>
                                       </tr>
                                       <tr>
                                        <td style="font-size: 18px;"><b>Edit the price</b></td>
                                        <td><input type="" name="editPrice" placeholder="$800"></td>
                                       </tr>
                                       <tr>
                                        <td style="font-size: 18px;"><b>Edit the Telephone</b></td>
                                        <td><input type="" name="editPhone" placeholder="8518-8456"></td>
                                       </tr>
                                        <tr>
                                        <td style="font-size: 18px;"><b>Edit the Address</b></td>
                                        <td><input type="" name="editAdrs" placeholder="Tongji University"
                                          style="height: 100px;"></td>
                                       </tr>
                                    </table>

                                    <!-- cancel button -->
                                    <button onclick="document.getElementById('edit_1').style.display='none';
                                   document.getElementById('fade_1').style.display='none'"
                                   style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">cancel</button>
                                    <!-- confirm button -->
                                      <button onclick="document.getElementById('edit_1').style.display='none';
                                   document.getElementById('fade_1').style.display='none'"
                                   style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">comfirm</button>
                              </div>
                              <div id="fade_1" class="black_overlay"></div>
                              <button style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">Finish</button>
                            </td>
                          </tr>
                        
                          <tr>
                            <td><b>98542287</b></td>
                            <td>2016-04-10 12:20:30</td>
                            <td>755458</td>
                            <td>
                               <button onclick="document.getElementById('edit_2').style.display='block';
                                   document.getElementById('fade_2').style.display='block'"
                                   style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">edit</button>
                                     <!-- 以下为点击edit后,卖家对order的操作 -->
                                   <div id="edit_2" class="white_content">
                                      <h1 style="align-content:center;margin-top: -10px;">Manage this order</h1>
                                      <h2 style="align-content: center;">Order ID <b>98542287</b></h2>
                                     <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                       <tr>
                                        <th style="font-size: 18px;">Edit</th>
                                        <th style="font-size: 18px;">Former</th>
                                       </tr>
                                       <tr>
                                        <td style="font-size: 18px;"><b>Edit the price</b></td>
                                        <td><input type="" name="editPrice" placeholder="$800"></td>
                                       </tr>
                                       <tr>
                                        <td style="font-size: 18px;"><b>Edit the Telephone</b></td>
                                        <td><input type="" name="editPhone" placeholder="8518-8456"></td>
                                       </tr style="font-size: 18px;">
                                        <tr>
                                        <td style="font-size: 18px;"><b>Edit the Address</b></td>
                                        <td><input type="" name="editAdrs" placeholder="Tongji University"
                                          style="height: 100px;"></td>
                                       </tr>
                                    </table>
                                   <!-- cancel button -->
                                    <button onclick="document.getElementById('edit_2').style.display='none';
                                   document.getElementById('fade_2').style.display='none'"
                                   style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">cancel</button>
                                    <!-- confirm button -->
                                     <button onclick="document.getElementById('edit_2').style.display='none';
                                   document.getElementById('fade_2').style.display='none'"
                                   style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">comfirm</button>
                              </div>
                              <div id="fade_2" class="black_overlay"></div>
                              <button style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">Finish</button>
                            </td>
                          </tr>

                        
                          <tr>
                            <td><b>98542751</b></td>
                            <td>2016-04-10 12:20:30</td>
                            <td>825990</td>
                            <td>
                               <button onclick="document.getElementById('edit_3').style.display='block';
                                   document.getElementById('fade_3').style.display='block'"
                                   style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">edit</button>
                              <div id="edit_3" class="white_content">
                                <!-- 以下为点击edit后,卖家对order的操作 -->
                                   <h1 style="align-content:center;margin-top: -10px;">Manage this order</h1>
                                   <h2 style="align-content: center;">Order ID <b>98542751</b></h2>
                                     <table class="dataintable" style="font-size: 12px;margin: auto;width: 750px;">
                                       <tr>
                                        <th>Edit</th>
                                        <th>Former</th>
                                       </tr>
                                       <tr>
                                        <td style="font-size: 18px;"><b>Edit the price</b></td>
                                        <td><input type="" name="editPrice" placeholder="$1000"></td>
                                       </tr>
                                       <tr>
                                        <td style="font-size: 18px;"><b>Edit the Telephone</b></td>
                                        <td><input type="" name="editPhone" placeholder="8518-8456"></td>
                                       </tr>
                                        <tr>
                                        <td style="font-size: 18px;"><b>Edit the Address</b></td>
                                        <td><input type="" name="editAdrs" placeholder="Tongji University"
                                          style="height: 100px;"></td>
                                       </tr>
                                    </table>
                                <!-- cancel button -->
                                    <button onclick="document.getElementById('edit_3').style.display='none';
                                   document.getElementById('fade_3').style.display='none'"
                                   style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">cancel</button>
                                    <!-- confirm button -->
                                     <button onclick="document.getElementById('edit_3').style.display='none';
                                   document.getElementById('fade_3').style.display='none'"
                                   style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    position: relative;
                                    margin-bottom: 300px;">comfirm</button>
                              </div>
                              <div id="fade_3" class="black_overlay"></div>
                              <button style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff; 
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;">Finish</button>
                            </td>
                          </tr> 
                      </table>

                     </div>
            </div>
        
          </div>
        </div>
        </div>
      </section>
    <!-- END OF PERSONAL ACCOUNT -->





    <!-- FOOTER -->
         <footer style="margin-top: -50px;z-index: 9999;position: relative;top: 200px;">
        <div class="footer-inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-lg-8">	
                <div class="footer-column pull-left">
                  <h4>CUSTOMMER SERVICE</h4>
                  <ul class="links">
                    <li class="first"><a href="#" title="Contact us">My Account</a></li>
                    <li><a href="#" title="About us">Order History</a></li>
                    <li><a href="#" title="faq">FAQ</a></li>
                    <li><a href="#" title="Popular Searches">Specials</a></li>
                    <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
                  </ul>
                </div>
                <div class="footer-column pull-left">
                  <h4>Corporation</h4>
                  <ul class="links">
                    <li class="first"><a title="Your Account" href="#">About us</a></li>
                    <li><a title="Information" href="#">Customer Service</a></li>
                    <li><a title="Addresses" href="#">Company</a></li>
                    <li><a title="Addresses" href="#">Investor Relations</a></li>
                    <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>             
                  </ul>
                </div>
                <div class="footer-column pull-left">
                  <h4>Why choose Us</h4>
                  <ul class="links">
                    <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="Company">Company</a></li>
                    <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                    <li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div class="footer-column-last">
                  <div class="newsletter-wrap">
                    <h4>Sign up for emails</h4>
                    <form id="newsletter-validate-detail" method="post" action="#">
                      <div id="container_form_news">
                        <div id="container_form_news2">
                          <input type="text" class="input-text required-entry validate-email" value="Enter your email address" onFocus=" this.value='' " title="Sign up for our newsletter" id="newsletter" name="email">
                          <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <br>
                  <div class="social">
                    <h4>Follow Us</h4>
                    <ul class="link">
                      <li class="fb pull-left"><a href="#"></a></li>
                      <li class="tw pull-left"><a href="#"></a></li>
                      <li class="googleplus pull-left"><a href="#"></a></li>
                      <li class="rss pull-left"><a href="#"></a></li>
                      <li class="pintrest pull-left"><a href="#"></a></li>
                      <li class="linkedin pull-left"><a href="#"></a></li>
                      <li class="youtube pull-left"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="images/logo.png"></div>
            <address>
              <i class="fa fa-map-marker"></i>DB Design Project <i class="fa fa-mobile"></i><span> +(888) 123-4567</span> <i class="fa fa-envelope"></i><span> Tongji University </span>
            </address>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-xs-12 coppyright">Copyright &copy; 2018. All rights reserved.</div>
          
            </div>
          </div>
        </div>
      </footer>
  <!-- END OF FOOTER -->		
</body>
</html>