<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicons Icon -->
	<title>Log In</title>
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS Style -->
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
	<link rel="stylesheet" type="text/css" href="~/Content/simple-line-icons.css" media="all">
	<link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/Content/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-menu.css">
	<link rel="stylesheet" type="text/css" href="~/Content/revslider.css">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="~/Content/cssContentlogin-table.css">
	<link rel="stylesheet" type="text/css" href="~/Content/styleregis.css">
	<script src="~/Scripts/prefixfree.min.js"></script>
	<script src="~/Scripts/modernizr.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
	<script type="text/javascript">
		/* LOG IN */
		$(document).ready(function () {
			$("#login").click(function () {
				var name = $("#usrn").val();
				var pswd = $("#usrp").val();

				var urlstr = "/Login/ConfirmLogin";
				$.get(urlstr, { "id": name, "psw": pswd }, function (xml, textStatus, xhr) {
					if (xhr.status == 200)
						$(window).attr('location', '../HomePage/Index');
					
					// return data.
					// if success, no further action.
					// else, alert, current page. double check and try again.
				});
			});
		});
	</script>
</head>

<body style="background-color: black">
	<form style="width: 300px;top: 64px">
		<h1>Log in to Vibranium</h1>
		<div class="inset">
			<p>
				<label for="email">Phone Number</label>
				<input type="text" name="email" id="usrn">
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" name="password" id="usrp">
			</p>
			<p>
				<input type="checkbox" name="remember" id="remember">
				<label for="remember">Remember me for 14 days</label>
			</p>
		</div>
		<table style="width: 100%">
			<tr height="32px">
				<td align="center">
					<!-- LOG IN -->
					<button type="button" id="login" style="width: 90%">Log In</button>
				</td>
			</tr>
			<tr style="height: 64px">
				<!-- HYPERLINK : REGISTER & FORGET PASSWORD -->
				<td align="right" valign="bottom"><p><a href="~/Login/Register">Register</a> | <a href="#">Forget Password?</a></p></td>
			</tr>
		</table>
	</form>

	<script src='~/Scripts/jquery.js'></script>
	<div style="text-align:center;clear:both;">
		<!--
			<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
			<script src="/follow.js" type="text/javascript"></script>
		</div>-->


		<div id="bglayer" style="position: absolute;top:0px;width:100%;z-index: -1">
			<img src="~/Images/images/blog-img1.jpg" height="100%" width="100%">

			<footer style="z-index: -1">
				<div class="footer-inner">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-xs-12 col-lg-8">
								<div class="footer-column pull-left">
									<h4>CUSTOMMER SERVICE</h4>
									<ul class="links">
										<li class="first"><a href="#" title="Contact us">My Account</a></li>
										<li><a href="#" title="About us">Order History</a></li>
										<li><a href="#" title="faq">FAQ</a></li>
										<li><a href="#" title="Popular Searches">Specials</a></li>
										<li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
									</ul>
								</div>
								<div class="footer-column pull-left">
									<h4>Corporation</h4>
									<ul class="links">
										<li class="first"><a title="Your Account" href="#">About us</a></li>
										<li><a title="Information" href="#">Customer Service</a></li>
										<li><a title="Addresses" href="#">Company</a></li>
										<li><a title="Addresses" href="#">Investor Relations</a></li>
										<li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
									</ul>
								</div>
								<div class="footer-column pull-left">
									<h4>Why choose Us</h4>
									<ul class="links">
										<li class="first"><a href="#" title="About us">Shopping Guide</a></li>
										<li><a href="#" title="Blog">Blog</a></li>
										<li><a href="#" title="Company">Company</a></li>
										<li><a href="#" title="Investor Relations">Investor Relations</a></li>
										<li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-lg-4">
								<div class="footer-column-last">
									<div class="newsletter-wrap">
										<h4>Sign up for emails</h4>
										<form id="newsletter-validate-detail" method="post" action="#">
											<div id="container_form_news">
												<div id="container_form_news2">
													<input type="text" class="input-text required-entry validate-email" value="Enter your email address" onFocus=" this.value='' " title="Sign up for our newsletter" id="newsletter" name="email">
													<button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span></button>
												</div>
											</div>
										</form>
									</div>
									<br>
									<div class="social">
										<h4>Follow Us</h4>
										<ul class="link">
											<li class="fb pull-left"><a href="#"></a></li>
											<li class="tw pull-left"><a href="#"></a></li>
											<li class="googleplus pull-left"><a href="#"></a></li>
											<li class="rss pull-left"><a href="#"></a></li>
											<li class="pintrest pull-left"><a href="#"></a></li>
											<li class="linkedin pull-left"><a href="#"></a></li>
											<li class="youtube pull-left"><a href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="~/Images/images/logo.png"></div>
						<address>
							<i class="fa fa-map-marker"></i>DB Design Project <i class="fa fa-mobile"></i><span> +(888) 123-4567</span> <i class="fa fa-envelope"></i><span> Tongji University </span>
						</address>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-xs-12 coppyright">Copyright &copy; 2018. All rights reserved.</div>

						</div>
					</div>
				</div>
			</footer>
		</div>

</body>
		</html>
