<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicons Icon -->
	<title>Sign up</title>
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS Style -->
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
	<link rel="stylesheet" type="text/css" href="~/Content/simple-line-icons.css" media="all">
	<link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/Content/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-menu.css">
	<link rel="stylesheet" type="text/css" href="~/Content/revslider.css">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="~/Content/login-table.css">
	<link rel="stylesheet" type="text/css" href="~/Content/signup-table.css">
	<link rel="stylesheet" type="text/css" href="~/Content/styleregis.css">
	<script src="~/Scripts/prefixfree.min.js"></script>
	<script src="~/Scripts/modernizr.js"></script>
	<script src="~/Scripts/jquery-3.3.1.js"></script>
	<script>
		$(document).ready(function () {
			$("#signup").click(function () {
				var phonenum = $("#phonenum").val();	
				var username = $("#username").val();
				var password = $("#password").val();
				var repassword = $("#repassword").val();
				var role = $("#identity option:checked").text();

				if (phonenum == null || phonenum == "") {
					alert("Please enter your phone number.");
				}
				else if (username == null || username == "") {
					alert("Please enter your user name.");
				}
				else if (password == null || password == "") {
					alert("Please enter your password.");
				}
				else if (repassword == null || repassword == "") {
					alert("Please confirm your password.");
				}
				else if (password != repassword) {
					alert("Password inconsistent. Please double check and try again.");
				}
				else {
					var urlstr = "/Login/ConfirmRegister?username=" + username + "&phonenum=" + phonenum + "&password=" + password + "&role=" + role;
					$.get(urlstr, function (data) {
						var role = $("#identity option:checked").text();
						if (data == "success") {
							if(role=="Customer"){
								//go to Homepage.
								$(window).attr('location', '../HomePage/Index?id='+username);
							}
							else if (role == "Saler") {
								$(window).attr('location', '../Saler/Index?ID='+username);
							}
							else if(role=="Admin"){
								//go to Administrator's Account.
								$(window).attr('location', '../AdminInfo/Index?ID='+username);
							}
						}
						else {
							alert("This username is already registered. Please try again.");
						}
					});
				}
			});
		});
	</script>
</head>

<body style="background-color: black" class="cms-index-index index">

	<form style="width: 300px;left:-400px">
		<h1>Sign up to Vibranium</h1>
		<div class="inset">
			<p>
				<label for="email">Your Phone Number</label>
				<input type="text" name="email" id="phonenum">
			</p>
			<p>
				<label for="email">Username</label>
				<input type="text" name="email" id="username">
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
			</p>
			<p>
				<label for="password">Repeat your Password</label>
				<input type="password" name="password" id="repassword">
			</p>

		</div>
		<p class="p-container">
   	 		<div>Role :
      			<select id="identity">
        			<option value="customer" selected="selected">Customer</option>
        			<option value="saler">Saler</option>
        			<option value="admin">Admin</option>
      			</select>
    		</div>			
			<button type="button" id="signup">Sign Up</button>
		</p>
	</form>
	<script src='~/Scripts/jquery.js'></script>
	<div style="text-align:center;clear:both;">
	</div>
	<!--<div style="background-color: black; position: absolute; top: 8px;" align="center">
	  <img src="logo/pagelogo.png" style="width: 240px;height:48px">
	</div>-->
	<div id="bglayer" style="position: absolute;top:0px;width:100%;z-index: -1">
		<img src="../Images/images/register.jpg" height="100%" width="100%">
		
	</div>
</body>
</html>